body {
    background-color: azure;
    font-size: 18pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    margin: 0;
}

.inner-grid {
    border: 3px solid rgb(0, 0, 0);
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

header {
    height: auto;
    border: 2px solid palegreen;
    grid-column-start: 1;
    grid-column-end: 4;  
    text-align: center;
    min-height: 100px;
    display: grid;
    place-items: center; 
}

.catalog-grid {
    gap: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-start: 1;
    grid-column-end: 4;
}

.flex {
    border: 3px solid darkblue;
    height: 200px;
    text-align: center;
    min-height: 100px;
    display: grid;       
    place-items: center; 
}

.filter {
    grid-row-start: 1;
    grid-row-end: 5;
    height: auto;
    text-align: center;
    min-height: 100px;
    display: grid;       
    place-items: center;   
}

.sort {
    grid-column-start: 2;
    grid-column-end: 4;
    height: 100px;
    text-align: center;
    min-height: 100px;
    display: grid;      
    place-items: center;   
}

p {
    margin: 0;
}

footer {
    height: 150px;
    border: 2px solid palegreen;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    min-height: 100px;
    display: grid;          
    place-items: center;   
}