body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    background-color: bisque;
}

main{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 40px 20px;
}

.card figcaption{
    margin: 0 auto;
    text-align: center; 
}

.flag{
    width: 300px;
    height: calc(300px * 2 / 3);
    border: 1px solid black;
}

.italy{
    background-image: linear-gradient(to right, green 33%, white 33%, white 66%, red 66%);
}

.tobago{
    background-image: linear-gradient(45deg, red 40%, white 40%, white 43%, black 43%, black 57%, white 57%, white 60%, red 60%);
}

.kongo{
    background-image: linear-gradient(135deg, green 40%, yellow 40%, yellow 60%, red 60%);
}

.mavrikiya{
    background-image: linear-gradient(red 25%, darkblue 25%, darkblue 50%, yellow 50%, yellow 75%, green 75%);
}

.botsvana{
    background-image: linear-gradient(blue 30%, white 30%, white 35%, black 35%, black 65%, white 65%, white 70%, blue 70%);
}

.madagaskar{
    background-image: linear-gradient(to right, white 33%,  transparent 33%), /*transparent - прозрачность*/
                      linear-gradient(red 50%, green 50%);
}