body{
    background-color: #E6E6FA;
}

h1{
    font-family:'Times New Roman', Times, serif;
}

p{
    font-size: 14pt;
}

fieldset{
    border: 2px solid rgb(174, 174, 174);
    background-color: white;
    border-radius: 8px;
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 10px;
}

.title{
    border: 2px solid rgb(174, 174, 174);
    background-color: white;
    border-top: 10px solid blueviolet;
    border-radius: 8px;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
}

div{
    margin-bottom: 5px;
}

textarea{
    resize: none;
    line-height: 1.5;
    padding: 5px;
}

.botton{
    text-align: center;
    margin-top: 20px;
}
input[type=submit]{
    border: 1px solid blueviolet;
    padding: 8px;
    background-color: blueviolet;
    color: white;
    font-size: 13pt;
}

input[type=text], select{
    width: 25%;
    padding: 5px;
}

label{
    font-size: 15pt;
}