main {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: center;
    gap: 100px; 
    padding: 40px 20px;
}

.shadow_block{
    position: relative;
    width: 360px;     
    height: 212px;   
    background-color: transparent;
    box-shadow: 0 25px 15px rgb(114, 60, 60);
    z-index: 1; 
    overflow: visible;
}

.outside{
    transform: rotate(-5deg);
}

.inner_shadow {
    position: absolute;
    inset: 0;
    transform: rotate(10deg);
    box-shadow: 0 25px 15px rgb(114, 60, 60);
    z-index: 0;
}

.card{
    position: absolute;
    width: 400px;      
    height: 250px;  
    top: 50%;
    left: 50%;  
    z-index: 2; 
}

.yellow{  
    background-color: rgb(170, 170, 45);
    transform: translate(-50%, -50%) rotate(5deg); 
}

.red{   
    background-color: rgb(221, 92, 92);
    transform: translate(-50%, -50%) rotate(5deg); 
}

.shadow{
    position: relative;
    width: 400px;
    height: 250px;
    z-index: 5;
}

.light_green{
    background-color: rgb(122, 223, 122);
    box-shadow: 0 33px 15px -23px rgb(120, 197, 120),
                0 -33px 15px -23px rgb(120, 197, 120);
}

.dark_green{
    background-color: rgb(12, 152, 12);
    box-shadow: 25px 0 15px -15px rgb(11, 123, 11),
                -25px 0 15px -15px rgb(11, 123, 11);
}

.line{
    position: absolute;
    width: 90%;
    height: 85%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 4px dashed white;
    border-radius: 6px;
    z-index: 3;
}

.line.s{
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%) rotate(5deg);
}

.shadow_block > p,
.shadow > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(5deg);
    z-index: 10;
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 0;
    font-size: 24px;
}
.shadow > p{
    transform: translate(-50%, -50%);
}