body{
    background-color: rgb(6, 111, 48);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
    display: flex;
    gap: 20px;
}

p{
    margin: 0;
}

.card-red{
    background-color: white;
    width: 200px;
    height: 300px;
    padding: 10px;
    position: relative;
    color: red;
    font-weight: bold;
}

.left-top::after {
  content: "\2665";
  color: red;
  display: block;
}

.centre{
    font-size: 64pt;
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

