.paper-btn {
  display: inline-block;
  margin: 58px 12px;
}

.paper-btn label {
  display: inline-block;
  width: 80px;
  border-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #616161;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  transition:   box-shadow 1s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 1s,
    color 1s,
    text-shadow 1s;
}

.paper-btn input {
  display: none;
}

.paper-btn-true input:checked ~ label {
  background-color: rgb(118, 226, 118);
  color: white;
  text-shadow: 2px  2px rgb(165, 165, 165);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.paper-btn-false input:checked ~ label {
  background-color: rgb(255, 0, 0);
  color: white;
  text-shadow: 2px  2px rgb(165, 165, 165);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}